<h1>500 - Server Error</h1>
<p>Sorry, something went wrong on our end.</p>
<% if (process.env.NODE_ENV !== 'production' && error) { %>
    <pre><%= error.stack %></pre>
<% } %>
<a href="/">Go to Homepage</a>